@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* tokens */
  /* font-family */
  --font-body: "Raleway", sans-serif;
  --font-default: 16px;
  --font-headings: "Montserrat Semibold", sans-serif;
  --font-headings-regular: "Montserrat", sans-serif;
  --font-headings-light: "Montserrat Light", sans-serif;
  --font-headings-medium: "Montserrat Medium", sans-serif;

  /* palette */
  --black: #202020;
  --grey-light: #f7f6f4;
  --grey-light-2: #fafafa;
  --grey: #e6dfd5;
  --grey-medium: #ccc6bd;
  --grey-medium-2: #707070;
  --grey-medium-3: #858384;
  --grey-medium-4: #a3a3a3;
  --grey-medium-5: #e5dfd6;
  --grey-medium-6: #e3e3e3;
  --grey-medium-7: #4d4340;
  --grey-dark: #909090;
  --grey-dark-2: #464646;
  --white: #ffffff;
  --yellow: #f3cd46;
  --yellow-light: #fbe580;
  --blue: #0e3244;
  --blue-medium: #10394c;
  --blue-light: #103443;

  /* spacing */
  --space-h1: 1.8rem;
  --space-h2: 1.8rem;
  --space-h3: 1.8rem;
  --space-h4: 1.8rem;
  --space-h5: 1.8rem;
  --space-h6: 1.8rem;

  --space-5: 5px;
  --space-10: 10px;
  --space-20: 20px;
  --space-30: 30px;
  --space-40: 40px;
  --space-50: 50px;
  --space-60: 60px;
  --space-70: 70px;
  --space-80: 80px;
  --space-90: 90px;
  --space-100: 100px;
  --space-110: 110px;
  --space-120: 120px;
  --space-130: 130px;
  --space-140: 140px;
  --space-150: 150px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 1.8;

  /* letter-spacing */
  --tracked: 0.075em;
  --tight: -0.015em;
  --spaced: 1.25em;

  /* font-weight */
  --body: 400;
  --light: 300;
  --medium: 500;
  --semibold: 700;
  --bold: 800;
  --extrabold: 1000;

  /* font-size */
  --text-xs: 13px;
  --text-sm: 14px;
  --text-md: 15px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-xxl: 21px;
  --text-h1: 27px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-h5: 16px;
  --text-h6: 14px;

  /* transitions */
  --transition: box-shadow 0.125s ease-in;

  /* shadows */
  --shadow: 0 4px 12px rgba(var(--green-50-rgb), 0.5);

  /* product */
  --product-grid: 1fr;
}

/********** tablet **********/
@media (min-width: 768px) {
  :root {
    --font-default: 18px;

    /* font-size */
    --text-xs: 14px;
    --text-sm: 15px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 23px;
    --text-xxl: 26px;
    --text-h1: 32px;
    --text-h2: 28px;
    --text-h3: 23px;
    --text-h4: 18px;
    --text-h5: 16px;
    --text-h6: 14px;

    /* spacing */
    --space-h1: 1rem;
    --space-h2: 1rem;
    --space-h3: 1rem;
    --space-h4: 1rem;
    --space-h5: 1rem;
    --space-h6: 1rem;

    /* product */
    --product-grid: 1fr 1fr;
  }
}

/********** laptop **********/
@media (min-width: 992px) {
  :root {
    /* font-size */
    --text-xs: 14px;
    --text-sm: 15px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 23px;
    --text-xxl: 26px;
    --text-h1: 27px;
    --text-h2: 24px;
    --text-h3: 21px;
    --text-h4: 18px;
    --text-h5: 16px;
    --text-h6: 14px;
  }
}

/********** desktop **********/
@media (min-width: 1280px) {
  :root {
    --loose: 1.8;

    /* font-size */
    --text-xs: 15px;
    --text-sm: 16px;
    --text-md: 18px;
    --text-lg: 23px;
    --text-xl: 26px;
    --text-xxl: 30px;
    --text-h1: 70px;
    --text-h2: 38px;
    --text-h3: 32px;
    --text-h4: 21px;
    --text-h5: 18px;
    --text-h6: 16px;

    /* product */
    --product-grid: repeat(4, 1fr);
  }
}
