.banner {
  min-height: calc(30vh);
}

/********** tablets **********/
@media (min-width: 768px) {
  .banner {
    min-height: calc(50vh - 145px);
  }
}

/********** laptops **********/
@media (min-width: 992px) {
  .banner {
    min-height: calc(100vh - 110px);
  }
}

/********** desktops **********/
@media (min-width: 1440px) {
  .banner {
    min-height: calc(100vh - 145px);
  }
}
