.padding_banner {
  padding: 50px 50px 80px 50px;
  line-height: 2rem;
}

.banner_home {
  min-height: 500px;
  padding: 0 10% 0 30%;
  line-height: 1.5rem;
  font-size: var(--text-sm);
}

.banner_home button {
  margin-top: 30px;
}

/********** tablets **********/
@media (min-width: 768px) {
  .banner_home {
    min-height: calc(80vh - 100px);
    padding: 0 15% 0 35%;
    line-height: 2.3rem;
    font-size: var(--text-lg);
  }

  .banner_home button {
    margin-top: 60px;
  }
}

/********** laptops **********/
@media (min-width: 992px) {
  .banner_home {
    min-height: calc(100vh - 100px);
    padding: 0 15% 0 45%;
    font-size: var(--text-lg);
  }

  .banner_home button {
    margin-top: 90px;
  }
}

/********** desktops **********/
@media (min-width: 1440px) {
  .banner_home {
    min-height: calc(100vh - 150px);
  }
}
