.banner_home {
  padding: 0;
  font-size: var(--text-xl);
  background: none !important;
}

/********** tablets **********/
@media (min-width: 768px) {
  .banner_home {
    min-height: calc(80vh - 100px);
    padding: 0 15% 0 35%;
  }
}

/********** laptops **********/
@media (min-width: 992px) {
  .banner_home {
    min-height: calc(100vh - 100px);
    padding: 0 15% 0 45%;
  }
}

/********** desktops **********/
@media (min-width: 1440px) {
  .banner_home {
    min-height: calc(100vh - 150px);
  }
}
