.container_header {
  align-items: center;
  position: sticky;
  z-index: 10000;
  top: 0;
  background: var(--black);
  padding: 10px 0;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.container_header ul {
  list-style-type: none;
}

.container_header ul li {
  float: left;
}

.nav_link_icon li {
  display: block;
  padding: 0.5rem;
}

.nav_link_icon li:last-child {
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.nav_link_icon li svg:hover,
.nav_link_icon li svg:focus {
  filter: brightness(0) invert(1);
}

.nav_mobile {
  width: calc(100vw - 30px);
  height: 100vh;
  background: var(--black);
  position: fixed;
  z-index: 100000;
  top: 10px;
  left: 30px;
  touch-action: none;
}

.nav_link_mobile li {
  float: none !important;
  padding: 10px 0;
}

.nav_link_mobile li a {
  font-family: var(--font-body);
  font-weight: var(--bold);
  color: var(--grey-dark);
  font-size: var(--text-md);
  text-transform: uppercase;
}

.nav_link_mobile a:hover {
  font-family: var(--font-body);
  font-weight: var(--medium);
  color: var(--white);
}

/********** tablets **********/
@media (min-width: 768px) {
  .container_header {
    padding: 20px 0;
  }
}

/********** laptops **********/
@media (min-width: 992px) {
  .nav_link li a {
    font-family: var(--font-body);
    font-weight: var(--semibold);
    color: var(--grey-dark);
    font-size: var(--text-md);
    padding: 0 1rem 0 1rem;
    text-transform: uppercase;
  }

  .nav_link li:last-child a {
    padding: 0 0.8rem 0 1rem;
  }

  .nav_link a:hover {
    font-family: var(--font-body);
    font-weight: var(--semibold);
    color: var(--white);
  }

  .nav_mobile {
    display: none;
  }
}

/********** desktops **********/
@media (min-width: 1440px) {
  .container_header {
    padding: 30px 0 30px 0;
  }

  .nav_link_icon li {
    display: block;
    padding: 0.5rem 0.8rem 1.3rem 0.5rem;
  }

  .nav_link li a {
    padding: 0 1.5rem 0 1.5rem;
  }

  .nav_link li:last-child a {
    padding: 0 1rem 0 1.5rem;
  }
}
