.testimonial_item {
  padding: 30px;
  box-shadow: 0px 3px 20px 0px rgba(217, 217, 217, 0.75);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(217, 217, 217, 0.75);
  -moz-box-shadow: 0px 3px 20px 0px rgba(217, 217, 217, 0.75);
}

.testimonial_item .info {
  font-size: 12px;
  color: #a3a3a3;
  letter-spacing: 0.8px;
  font-weight: var(--medium);
}

/********** tablets **********/
@media (min-width: 768px) {
  .testimonial_item {
    padding: 50px;
  }

  .testimonial_item .info {
    font-size: 14px;
  }
}
